.button {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-effect: null;
}

.button:hover {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(gaussian, #d2ab66, 2, 0.5, 0, 0);
}
